@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
/*  background: rgb(25,25,25);
background: radial-gradient(circle, rgba(25,25,25,1) 0%, rgba(33,33,33,1) 35%, rgba(47,47,47,1) 100%);*/
/*background-color: white;*/
background-image: linear-gradient(to left bottom, #111111, #181818, #1e1e1e, #242424, #2a2a2a, #2b2b2b, #2b2b2b, #2c2c2c, #272727, #222222, #1e1e1e, #191919);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

p{
  font-weight: 400 !important;
}

main {
  height: 100%;
}

.bg-beta {
  background: #434242;
}
